.background{
     height: 590px;
     background-color:#256886;
}
.background-2{
  background-color: #80d0c7;
   border-radius:0px 0px 90px 90px;
}
.section{
     background-color:#437d97;
     padding:13px 0px;
     max-width: 102%;   
}
.text{
     color: aliceblue;   
}
.section-search{
     width:70%;
     height: 60px;
}
.curve{
       border-radius:90px 90px 90px 90px;
}
.section-card{
     height:450px;
     float: left;
     box-shadow:10px 10px 30px rgb(51, 55, 58);
}
.box-shadow{
     box-shadow: 10px 10px 30px #5b5b5f;
}
.back{
     background-image: url(/images/businesswoman-using-tablet-analysis.jpg);
     background-size: 170%;
}
.sec-btn{
     padding:11px 0px;
}
.img-adjust{
     padding: 100px 0px;
}
.sec-position{
      position: absolute;
     top: -80px;
     left: 93px;
     border-radius:30px 30px 30px 30px;
}
.sec-position-2{
     position: absolute;
     top:-80px ;
     right:73px ;
     border-radius:30px 30px 30px 30px;
}
@media screen and (max-width: 987px){
     .section-card{
          height: 300px;
          width: 27rem !important; 
     }
     .img-adjust{
          padding: 0px 0px;
     }
     .sec-position{
          top:-62px ;
          left:137px ;
     }
     .sec-position-2{
          top:258px ;
          right: 150px;
     }
}
@media screen and (max-width: 766px){
     .section-card{
          height: 300px;
          width: 27rem !important; 
     }
     .img-adjust{
          padding: 0px 0px;
     }
     .sec-position{
          top:-78px ;
          left:42px ;
     }
     .sec-position-2{
          top:250px ;
          right:59px;
     }
}
@media screen and (max-width: 577px){
     .section-card{
          height: 300px;
          width: 25rem !important; 
     }
     .img-adjust{
          padding: 0px 0px;
     }
     .sec-position{
          top:-93px ;
          left:75px ;
     }
     .sec-position-2{
          top:240px ;
          right: 65px;
     }
}
.topic{
     padding: 60px 36%;
}
.adjust-1{
     padding:78px 0px ;
}
.adjust-2{
     padding:82px 0px ;
}
.sec-card{
  margin:9px;
  border-radius: 30px 30px 30px 30px;
}
.adjust-3{
     padding: 88px 3px;
}
.adjust-4{
     padding: 74px 0px;
}
.adjust-5{
     padding: 98px 0px;
}
.adjust-6{
     padding: 55px 0px;
}
.adjust-9{
     padding: 27px 0px ;
}
.adjust-7{
     padding: 108px 0px;
}
.adjust-8{
     padding: 110px 0px;
}
.back-card{
     background-color: #437d97;
     border-radius: 30px 30px 30px 30px;
}
.adjust-finance{
     padding: 62px 0px;
}
h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}
:root {
     --h1-font-size: 77px;
     --font-weight-normal:400;
}
.section-card-2{
     float: left;
}
.main-background3{
     height:1000px;
     background-image: url(/images/colleagues-working-cozy-office-medium-shot.jpg);
     background-size: cover;
     opacity:1.5;
}
.box1{
     width:100px; height: 100px;
     border-radius:50px 50px 50px 50px;
}
.spacing{
     padding: 110px 46px;
}
.box2{
     padding: 0px 37%;
}